{% if counter-one > 10 %}
  <div>
		<div class="page-holder page-holder01" id="page-holder01"></div>
	</div>
{% endif %}
{% if counter == 0 %}
  <div>
		<p>Sorry,no blog！</p>
  </div>
{% endif %}

{% if counter-two > 10 %}
  <div>
		<div class="page-holder page-holder02 tab-hidden" id="page-holder02"></div>
	</div>
{% endif %}
{% if counter == 0 %}
  <div>
		<p>Sorry,no blog！</p>
  </div>
{% endif %}

{% if counter-three > 10 %}
  <div>
		<div class="page-holder page-holder03 tab-hidden" id="page-holder03"></div>
	</div>
{% endif %}
{% if counter == 0 %}
  <div>
		<p>Sorry,no blog！</p>
  </div>
{% endif %}

{% if counter-four > 10 %}
  <div>
		<div class="page-holder page-holder04 tab-hidden" id="page-holder04"></div>
	</div>
{% endif %}
{% if counter == 0 %}
  <div>
		<p>Sorry,no blog！</p>
  </div>
{% endif %}

{% if counter-five > 10 %}
  <div>
		<div class="page-holder page-holder05 tab-hidden" id="page-holder05"></div>
	</div>
{% endif %}
{% if counter == 0 %}
  <div>
		<p>Sorry,no blog！</p>
  </div>
{% endif %}

{% if counter-six > 10 %}
  <div>
		<div class="page-holder page-holder06 tab-hidden" id="page-holder06"></div>
	</div>
{% endif %}
{% if counter == 0 %}
  <div>
		<p>Sorry,no blog！</p>
  </div>
{% endif %}

{% if counter-seven > 10 %}
  <div>
		<div class="page-holder page-holder07 tab-hidden" id="page-holder07"></div>
	</div>
{% endif %}
{% if counter == 0 %}
  <div>
		<p>Sorry,no blog！</p>
  </div>
{% endif %}

{% if counter-eight > 10 %}
  <div>
		<div class="page-holder page-holder08 tab-hidden" id="page-holder08"></div>
	</div>
{% endif %}
{% if counter == 0 %}
  <div>
		<p>Sorry,no blog！</p>
  </div>
{% endif %}